h1, h2, h3 {
  border-bottom: 1px solid DimGray;
}
table {
  border-collapse: collapse;
  margin: 4px 12px;
}
table, th, td {
  border: 1px solid DimGray;
  padding: 4px;
}
th {
  background-color: Gainsboro;
}
pre {
  margin: 4px 12px;
  background-color: Gainsboro;
  border: 1px solid LightGray;
  padding: 4px;
}
code {
  background-color: Gainsboro;
  border: 1px solid LightGray;
  padding: 2px;
  border-radius: 4px;
}
div.indent {
  margin-left: 2em;
}
